 <% if current_user %>
    <button> <%= link_to 'New entry', new_entry_path %> </button>
  <%end%>
<button> <%= link_to 'HOME', root_path %> </button>

<div>

      <% @entries.each do |entry| %>

        <h2> <%= link_to entry.title, "/entries/#{entry.id}" %> </h2>    
        <p> <%= time_ago_in_words(entry.created_at) + " ago" %> </p>    
        <p> <%= entry.content %> </p>    

      <% end %>  

</div>